# Functions

In [1]:
def test1():   #Function defining
    print("This is my first function")

In [2]:
test1() #Function calling

This is my first function

In [3]:
type(test1())

This is my first function

NoneType

In [4]:
def test2():
    return "This is my first function"

In [5]:
type(test2())  #If you want premetive data type as a return always use return

str

In [6]:
def test3():
    return 1234

In [7]:
test3()

1234

In [8]:
type(test3())

int

In [9]:
def test4():
    return 4,3,"sudh",[1,2,3]  #You can return multiple value using function

In [10]:
test4() #It return set of tuple

(4, 3, 'sudh', [1, 2, 3])

In [11]:
type(test4())

tuple

In [12]:
b = test4()

In [13]:
b[0]

4

In [14]:
b[1]

3

In [15]:
b[2]

'sudh'

In [16]:
b[3]

[1, 2, 3]

In [17]:
a, b, c, d =test4()

In [18]:
a

4

In [19]:
b

3

In [20]:
c

'sudh'

In [21]:
d

[1, 2, 3]

In [22]:
x, y, z, u, v =test4() #It will throw ValueError

ValueError: not enough values to unpack (expected 5, got 4)

In [23]:
#Write fun for dividion
def test5():
    a = 6*7/6
    return a

In [24]:
test5()

7.0

In [25]:
#Write a fun for separating integers
l = [3,4,5,6,7,7,"aditya",[4,54,56]]

In [26]:
def test6(a):
    n = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
    return n

In [27]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [28]:
type(test6(l))

list

In [29]:
test6([2,3,3,4,56,7,"xyz",("fsds","fsds",45)])

[2, 3, 3, 4, 56, 7]

In [30]:
#Write a fun that return keys
def test8(c):
    if type(c) == dict:
        return c.keys()
    else:
        return "You have not passed a dictionary"

In [31]:
test8("fsds")

'You have not passed a dictionary'

In [32]:
test8({"a" : "fsds","b" : 2354,"c" : [4,5,76]})

dict_keys(['a', 'b', 'c'])

In [37]:
def test9(a,b):
    if type(a) == list and type(b) == list:
        a.extend(b)
        return a
    else:
        return "Your data is not a list"

In [38]:
test9(2424,"Aditya")

'Your data is not a list'

In [39]:
test9([2,3,4,5],[4,5,6])

[2, 3, 4, 5, 4, 5, 6]

In [40]:
a = [2,3,4]
b = [4,5,7]

In [41]:
test9(a,b)

[2, 3, 4, 4, 5, 7]

In [47]:
def Create_Triangle(row_num):
    n = row_num
    k = n-1
    for i in range(0,n):
        for j in range(0,k):
            print(end = "")
        k = k-1
        for j in range(0,i+1):
            print("*",end="")
        print("\n")

In [48]:
Create_Triangle(3)

*

**

***

In [53]:
def triangle(rows):
    if type(rows) == int:
        for i in range(0,rows):
            for j in range(i):
                print("*",end=" ")
            print("\n")

In [54]:
triangle(3)

*

* *

# Write Hint inside the function

In [55]:
#Press shift + tab inside test10 fun so you get describtion about the function
def test10(n):
    """
    This is a fun which help you to create a triangle
    with any no of rows.
    """
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end=" ")
        print("\r")

# How to pass n no. of arguments inside a function

To pass n no. of arguments use *(asterick) before any name and passs that name inside argument section.

In [56]:
#args is not keyword you can use any name insted of args
def test1(*args):
    return args

In [57]:
test1(45,56,78)

(45, 56, 78)

In [58]:
test1(45,34,"Aditya",45,67)

(45, 34, 'Aditya', 45, 67)

In [59]:
test1([1,2,43,45],(45,67,76,78),"fsds",34+7j)

([1, 2, 43, 45], (45, 67, 76, 78), 'fsds', (34+7j))

In [60]:
def test2(*Aditya):
    return Aditya

In [61]:
test2("fssds",3445,"255",34.5)

('fssds', 3445, '255', 34.5)

In [62]:
def test3(*sudh,a):
    return sudh, a

In [63]:
test3(12,4,5)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [66]:
'''
When een you are going to keep individual argument in the begining in that case
it is going to consider very first data set as a value of this argument
'''
def test3(a,*sudh):
    return sudh, a

In [67]:
test3(12,4,5)

((4, 5), 12)

In [70]:
def test4(*args):
    for i in args:
        if type(i) == list:
            return i

In [72]:
test4(546,[34,3],[23,4,5],"fsds")

[34, 3]

In [73]:
def test5(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [74]:
test5(546,[34,3],[23,4,5],"fsds")

[[34, 3], [23, 4, 5]]

# How to pass n. no of key-value pairs in function

To pass n. no of key value pair use **(double asteric) in frount of any name.

In [75]:
#kwagrs id not keyword you can use any name.
def test1(**kwargs):
    return kwargs

In [77]:
test1(1,2,3,4)

TypeError: test1() takes 0 positional arguments but 4 were given

In [79]:
test1(a = 124, b = [1,2,3])

{'a': 124, 'b': [1, 2, 3]}

In [80]:
def test2(**aditya):
    return aditya

In [81]:
test2(a = 124, b = [1,2,3])

{'a': 124, 'b': [1, 2, 3]}

In [85]:
def test3(a,**aditya):
    return aditya,a

In [86]:
test3(55,c = 124, b = [1,2,3])

({'c': 124, 'b': [1, 2, 3]}, 55)

In [87]:
def test4(a, **kwargs, *args):
    return kwargs,a,args

SyntaxError: invalid syntax (3413108132.py, line 1)

In [88]:
def test4(a, *args, **kwargs):
    return a, args, kwargs

In [89]:
test4(44,222,"aditya",c = 124, b = [1,2,3])

(44, (222, 'aditya'), {'c': 124, 'b': [1, 2, 3]})