# Loops

We can run a single statement or set of statements repeatedly using a loop command.

types of lops:

1] for loop
2] while loop

# 1] for loop

Python's for loop is designed to repeatedly execute a code block while iterating through a list, tuple, dictionary, or other iterable objects of Python. The process of traversing a sequence is known as iteration.

Syntax of the for Loop

for value in sequence:  
    { code block }  
    
    
Loop iterates until the final item of the sequence are reached.

In [1]:
l = [1,2,3,4,5,6,7,8,9]

for i in l:
    print(i) #Extract integers one by one from a list.

1
2
3
4
5
6
7
8
9

In [2]:
s = "Aditya"

for i in s:
    print(i) #Extract each character from string

A
d
i
t
y
a

In [3]:
t = (1,2,2,4,5,6,8)

for i in t:
    print(i) #Extract each integer from tuple

1
2
2
4
5
6
8

In [4]:
l = [1, 4, 5.6, 4+6j, "Aditya", True]

for i in l:
    print(type(i)) #It prints datatype of each list element

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [5]:
l = [1, 4, 5.6]

for i in l:
    print(i+2) #Add 2 in each element

3
6
7.6

In [6]:
l1 = []

for i in l:
    l1.append(i*2) #It append each element of l + 2 

l1

[2, 8, 11.2]

In [7]:
#print all the integer elements from the list
l2 = [2, 45, 78, 12, "Aditya", 6+7j,[56, 25, 78]]

for i in l2:
    if type(i) == int:
        print(i)

2
45
78
12

In [8]:
#print all the integer elements from the list if list have nested list.
for i in l2:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

2
45
78
12
56
25
78

l3 = [2, 45, 78, 12, "Aditya", 6+7j, [56, 67, 78, "Marne"]]

Q1. Try to print index of all the elements.

Q2. Try to extract all the list of char if element is string

Q3. Try to return a list after doing a square of all the int element.

In [9]:
l3 = [2, 45, 78, 12, "Aditya", 6+7j, [56, 67, 78, "Marne"]]

In [10]:
#Q1. Try to print index of all the elements.
for i in range(len(l3)):
    print("Index ",i,"for an element",l3[i])

Index  0 for an element 2
Index  1 for an element 45
Index  2 for an element 78
Index  3 for an element 12
Index  4 for an element Aditya
Index  5 for an element (6+7j)
Index  6 for an element [56, 67, 78, 'Marne']

In [11]:
for i in enumerate(l3):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'Aditya')
(5, (6+7j))
(6, [56, 67, 78, 'Marne'])

In [12]:
#Q2. Try to extract all the list of char if element is string
l3

[2, 45, 78, 12, 'Aditya', (6+7j), [56, 67, 78, 'Marne']]

In [13]:
l4 =[]
for i in l3:
    if type(i) == str:
        for j in i:
            l4.append(j)
    elif type(i) == list:
        for j in i:
            if type(j) == str:
                #l4.append(j)
                for k in j:
                    l4.append(k)
            
l4

['A', 'd', 'i', 't', 'y', 'a', 'M', 'a', 'r', 'n', 'e']

In [14]:
#Q3. Try to return a list after doing a square of all the int element.
l3

[2, 45, 78, 12, 'Aditya', (6+7j), [56, 67, 78, 'Marne']]

In [15]:
l5 = []

In [16]:
for i in l3:
    #print(i)
    if type(i) == int:
        #print(i)
        #print(i*i)
        l5.append(i*i)
    elif type(i) == list:
        #print(i)
        for j in i:
            #print(j)
            if type(j) == int:
                #print(j)
                l5.append(j*j)

In [17]:
l5

[4, 2025, 6084, 144, 3136, 4489, 6084]

# 2] for else

If for is executed successfully then else block get executed.

If for loop is not going to complete or it is interupted in that case iti is not going to 
execute else statement.

In [18]:
l7 = ["name", "email", "phone no", "address"]

In [19]:
for i in l7:
    print(i)
else:
    print("If for loop is not going to complete itself then it will not come to else")

name
email
phone no
address
If for loop is not going to complete itself then it will not come to else

In [20]:
for i in l7:
    if i == 'email':
        break
    print(i)
else:
    print("If for loop is not going to complete itself then it will not come to else")

name

# 3] While loop

The python while loop iteration of a code block is executed as long as given condition is true.

syntax:-

while condition_expression:

    code block for while
    
    
If the conditional_expression gives a boolean value true, the while loop statement are executed

The conditional_expression is verified again when the complete block is executed.

This process repetedly occurs untill the condition expression return the boolean value false

In [21]:
i = 1

while i < 5:
    print(i)
    i = i+1

1
2
3
4

In [22]:
#Q1. print pattern
'''
*
**
***
****
*****
'''

for i in range(0,5):
    for j in range(0, i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [23]:
#Q2. Print tuple in reverse order
t = (3, 4, 4, 5, 6, 7, 7)

for i in range(len(t)-1, 0, -1):
    print(t[i])

7
7
6
5
4
4

In [26]:
#Q3. Print keys and values from dictionanry
d = {"a" : "fsds", "b" : "fsds", "c" : "[1,2,3]", "d" : (4,5,6,7), "e" : "sudh"}

for i in d:
    print(i,d[i])

a fsds
b fsds
c [1,2,3]
d (4, 5, 6, 7)
e sudh

In [29]:
for i in d.items():
    print(i)

('a', 'fsds')
('b', 'fsds')
('c', '[1,2,3]')
('d', (4, 5, 6, 7))
('e', 'sudh')

In [1]:
#Q4.Count no of letters in string
s = "Aditya"

In [2]:
len(s)

6

In [3]:
count = 0
for i in s:
    count = count + 1

count

6

In [4]:
#Q5. Print string in reverse order
s = "Aditya"

In [5]:
s[::-1]

'aytidA'

In [12]:
for i in range(len(s)-1, -1, -1):
    print(s[i])

a
y
t
i
d
A

In [21]:
#Q6. Find which are vowel and which are not.
s = "Aditya"
v = "AaEeIiOoUu"

for i in s:
    if i in v:
        print("vowel",i)
    else:
        print("No vowel",i)

vowel A
No vowel d
vowel i
No vowel t
No vowel y
vowel a

In [22]:
#Q7. Palindrome 
s = "maam"
v = s[::-1]

if s == v:
    print("Palindrome")
else:
    print("Not palindrome")

Palindrome

In [25]:
word = input()
for i in range(len(word)):
    if word[i] != word[len(word)-i-1]:
        print("Not palindrome")
        break
else:
    print("Palindrome")

aditya
Not palindrome

In [27]:
l = len(s)
flag = 0

for i in range(l):
    if s[i] == s[l-i-1]:
        continue
    else:
        print("Not palindrome")
        flag = 1
        break
        
if flag == 0:
    print("palindrome")

palindrome

In [53]:
#Q8. Find key greater than 5 and less tha 5.
d ={
    "India" : "IN",
    "United State" : "US",
    "Canada" : "CN",
    "China" : "CH"
}
L_greater = []
L_smaller = []

for i in d:
    #print(i)
    if len(i) > 5:
        L_greater.append(i)
    else:
        L_smaller.append(i)

In [54]:
L_greater

['United State', 'Canada']

In [55]:
L_smaller

['India', 'China']

In [1]:
#Q9. Find max from ineuron and course
d_1 = {
    "ineuron" : {
        "a" : 14,
        "b" : 10,
        "c" : 4
    },
    "course" : {
        "d" : 45,
        "e" :35,
        "f" : 1
    }
}

In [2]:
lst = []

for i in d_1.values():
    #print(i)
    for j in i.values():
        #print(j)
        lst.append(j)
    print(max(lst))

14
45

In [7]:
for i in d_1.values():
    #print(i)
    mx = 0
    for j in i.values():
        #print(j)
        if mx < j:
            mx = j
    print(mx)

14
45

In [8]:
for i in d_1.values():
    print(max(i.values()))

14
45

In [12]:
for i in d_1.keys():
    #print(i)
    #print(d_1[i])
    #print(d_1[i].values())
    print(max(d_1[i].values()))

14
45

In [13]:
d_2 = {
    "ineuron" : {"a" : 14, "b" : 10, "c" :4},
    "course"  : {"d" : 45, "e" : 34, "f" : 1},
    "g" : 34,
    "h" : [45,67,8,9,3],
    "i" : (45,34,2),
    "k" : "sudh"
}

In [23]:
l1 = []

In [24]:
for i in d_2.values():
    #print(i)
    if type(i) == dict:
        #print(i)
        for j in i.values():
            l1.append(j)
    if type(i) == int:
        l1.append(i)
    if type(i) == list:
        for j in i:
            #print(j)
            if type(j) == int:
                l1.append(j)
    if type(i) == tuple:
        for j in i:
            #print(j)
            if type(j) == int:
                l1.append(j)
            
print(l1)

[14, 10, 4, 45, 34, 1, 34, 45, 67, 8, 9, 3, 45, 34, 2]

In [25]:
max(l1)

67

In [32]:
l2 = []

In [33]:
for i in d_2:
    #print(i)
    if type(d_2[i] == int):
        l2.append(d_2[i])
    elif type(d_2[i] == str):
        continue
    elif type(d_2[i] == dict):
        l2.append(list(d_2[i].values()))
    else:
        l2.extend(list(d_2[i]))
        
print(l2)

[{'a': 14, 'b': 10, 'c': 4}, {'d': 45, 'e': 34, 'f': 1}, 34, [45, 67, 8, 9, 3], (45, 34, 2), 'sudh']

In [34]:
print(max(l1))

67